{% extends 'weblog/base.html' %}
{% block title %}user login page {% endblock title %}
{% block body%}
    <div class="container">
        <div class="form-container">
        	<p>{{error}}</p>
            <form action="" method="post">
                {% csrf_token %}
                <input type="text" name="username" placeholder="username">
                <input type="password" name="password" placeholder="password">
                <input type="submit"value="sign-in">
            </form>
            <p>don't have an account? <a href="{% url 'signup' %}"> signup</a></p>
        </div>
    </div>
{% endblock body %}